<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nurseryStock">
            <h2><span jhiTranslate="projectGhApp.nurseryStock.detail.title">Nursery Stock</span> {{nurseryStock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectGhApp.nurseryStock.currentQuantity">Current Quantity</span></dt>
                <dd>
                    <span>{{nurseryStock.currentQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.addedQuantity">Added Quantity</span></dt>
                <dd>
                    <span>{{nurseryStock.addedQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.consumedQuantity">Consumed Quantity</span></dt>
                <dd>
                    <span>{{nurseryStock.consumedQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.description">Description</span></dt>
                <dd>
                    <span>{{nurseryStock.description}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.status">Status</span></dt>
                <dd>
                    <span>{{nurseryStock.status}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.createdBy">Created By</span></dt>
                <dd>
                    <span>{{nurseryStock.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{nurseryStock.modifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.createdAt">Created At</span></dt>
                <dd>
                    <span>{{nurseryStock.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{nurseryStock.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.nursery">Nursery</span></dt>
                <dd>
                    <div *ngIf="nurseryStock.nurseryId">
                        <a [routerLink]="['/nursery', nurseryStock.nurseryId, 'view']">{{nurseryStock.nurseryNurseryName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.pickListVariety">Pick List Variety</span></dt>
                <dd>
                    <div *ngIf="nurseryStock.pickListVarietyId">
                        <a [routerLink]="['/pick-list-value', nurseryStock.pickListVarietyId, 'view']">{{nurseryStock.pickListVarietyPickListValue}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectGhApp.nurseryStock.pickListCategory">Pick List Category</span></dt>
                <dd>
                    <div *ngIf="nurseryStock.pickListCategoryId">
                        <a [routerLink]="['/pick-list-value', nurseryStock.pickListCategoryId, 'view']">{{nurseryStock.pickListCategoryPickListValue}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nursery-stock', nurseryStock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
